<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">About me</a></li>
<li><a href="/cv">CV</a></li>
  
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="/Impressum">impressum</a></li>
   <li><a href="mailto:jlein@postoe.de">email</a></li>
   <li><a href="https://github.com/jeinhoff">github</a></li>
   <li><a href="https://www.linkedin.com/in/einhoff/">linkedin</a></li>
   </ul>
  </footer>
  </body>

</html>
